

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.7vw;
}
.logo h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.logo img {
  height: 15vh;
  width: auto;
}

section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/giphy.gif");
  background-size: cover;
  background-position: 12%;
}
.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  gap: 1.5vh;
  background-color: rgb(124, 124, 124);
  padding: 2vh 4vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.password-container h2 {
  font-size: 1.8rem;
  color: #ffffff;
  text-shadow: black 1px 1px 2px;
}
.password-container input {
  padding: 0.5vh 1vw;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.password-container button {
  padding: 0.5vh 1vw;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 15%;
}
.password-container button:hover {
  background-color: #0056b3;
}


header button{
    height: 4vh;
    width: 9vw;
    font-size: 1.5rem;
    background-color: gray;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
header button:hover{
    background-color:rgb(143, 142, 142);
}

@media (max-width:370px) {
    .logo h1{
        display: none;
    }
    .logo img{
        height: 10vh;
        margin-left: 17%;
    }
    header{
        display: flex;
        margin: 0;
        gap: 0;
        align-items: center;
        height: 12vh;
    }
    header div{
        width: 40%;
    }
    header div button{
        width: 100%;
    }
}