*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(68, 68, 68);
}
header{
    height : 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.7vw;
}
.logo h1{
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.logo img{
    height:15vh;
    width: auto;
}

.image-display{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: stretch;
    background-position: center;

}
.image-display img{
    max-height: 75%;
    max-width: 75%;
}
.upload{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
}
.upload input{
    height: 50%;
    width: 75%;
    font-size: 1.5rem;
}
.upload button{
    height: 50%;
    width: 20%;
    font-size: 1.5rem;
    background-color: gray;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.upload button:hover{
    background-color:rgb(143, 142, 142);
}
.upload button:active{
    box-shadow: none;
    translate: (2px, 2px);
    background-color: rgb(59, 59, 59);
}
header button{
    height: 4vh;
    width: 9vw;
    font-size: 1.5rem;
    background-color: gray;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
header button:hover{
    background-color:rgb(143, 142, 142);
}
#fileInput{
    display: none;
}
#fileLabel{
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    width: 20%;
    font-size: 1.5rem;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fileLabel:hover{
    background-color:rgb(143, 142, 142);
}
#preview{
    max-height: 15vh;
    max-width: auto;
}

.promptSenha{
    z-index: 2;
    position: fixed;
    height: 50vh;

    top: 25%;
    left: 25%;

    width: 50vw;

    display: none;

    border-radius: 20px;

    background-color: grey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    border: 2px solid rgb(29, 29, 29);
}

.promptSenha h1 {
  font-size: 1.8rem;
  color: #ffffff;
  text-shadow: black 1px 1px 2px;
}

.promptSenha input{
    width: 25%;
}

.promptSenha button{
    font-family: Arial, Helvetica, sans-serif;
    height: 10%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    width: 20%;
    font-size: 1.5rem;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promptSenha button:hover{
    background-color:rgb(143, 142, 142);
}

.promptSenha img{
    max-width: 90%;
    max-height: 50%;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none;

    background-color: rgb(0,0,0,0.3);

    backdrop-filter: blur(5px);


    z-index: 1;
}